<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<p id="notice"><%= notice %></p>

<h1 class="menu-title">Appetizers Snacks & Salads</h1>

<%= image_tag 'snack.jpg', class: 'menu-photo' %>

<h2 class="menu-head">Antojiotos (Appetizers)</h2>

<%= image_tag 'appetizer.jpg', class: 'menu-photo' %>

<div class="container">
  <div class="row">
  <% @appetizers.each do |appetizer| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= appetizer.title %>    $<%= appetizer.price %></h4>
          <p class="card-text"><%= appetizer.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Tapas</h2>

<%= image_tag 'tapas.jpg', class: 'menu-photo' %>

<div class="container">
  <div class="row">
  <% @tapas.each do |tapa| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tapa.title %>    $<%= tapa.price %></h4>
          <p class="card-text"><%= tapa.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Sopas (Soups)</h2>

<%= image_tag 'soup.jpg', class: 'menu-photo' %>


<h4 id="nacho">Cup $4.00 Bowl $6.00</h4>

<div class="container">
  <div class="row">
  <% @soups.each do |soup| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= soup.title %>
          </h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Favorite Dips</h2>

<%= image_tag 'dips.jpg', class: 'menu-photo' %>


<h4 id="nacho">Served with Tri Color Tortilla Chips</h4>

<div class="container">
  <div class="row">
  <% @dips.each do |dip| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= dip.title %>    $<%= dip.price %></h4>
          <p class="card-text"><%= dip.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Nachos</h2>

<%= image_tag 'nacho.jpg', class: 'menu-photo' %>


<div class="container">
  <div class="row">
  <% @nachos.each do |nacho| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= nacho.title %>    $<%= nacho.price %></h4>
          <p class="card-text"><%= nacho.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Ensaladas (Salads)</h2>

<%= image_tag 'salad.jpg', class: 'menu-photo' %>


<div class="container">
  <div class="row">
  <% @salads.each do |salad| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= salad.title %>    $<%= salad.price %></h4>
          <p class="card-text"><%= salad.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
