<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<h1 class="menu-title">Brunch Menu</h1>

<h2 class="menu-head"> Huevos (Eggs)</h2>

  <% @eggs.each do |egg| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= egg.title %></p></th>
      <th><p class="price">$<%= egg.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= egg.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head"> Sartenes (Skillets)</h2>

  <% @skillets.each do |skillet| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= skillet.title %></p></th>
      <th><p class="price">$<%= skillet.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= skillet.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head"> De La Plancha (Griddle)</h2>

  <% @griddles.each do |griddle| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= griddle.title %></p></th>
      <th><p class="price">$<%= griddle.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= griddle.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head"> Tortillas De Huevo </br> (Omelettes)</h2>

  <% @omelettes.each do |omelette| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= omelette.title %></p></th>
      <th><p class="price">$<%= omelette.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= omelette.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head"> Brunch Sides</h2>

  <% @brunch_sides.each do |brunch_side| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= brunch_side.title %></p></th>
      <th><p class="price">$<%= brunch_side.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= brunch_side.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head"> Bebidas (Drinks)</h2>

  <% @drinks.each do |drink| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= drink.title %></p></th>
      <th><p class="price">$<%= drink.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= drink.description %></p></th>
    </tr>
  </table>
  <% end %>
