<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<h1 class="menu-title">Brunch Menu</h1>


<h2 class="menu-head"> Huevos (Eggs)</h2>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">


<%= image_tag 'egg.jpg', class: 'img-fluid' %>

</div>
</div>

<div class="container">
  <div class="row">
  <% @eggs.each do |egg| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= egg.title %>    $<%= egg.price %></h4>
          <p class="card-text"><%= egg.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Sartenes (Skillets)</h2>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">


<%= image_tag 'skillet.jpg', class: 'img-fluid' %>

</div>
</div>

<div class="container">
  <div class="row">
  <% @skillets.each do |skillet| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= skillet.title %>    $<%= skillet.price %></h4>
          <p class="card-text"><%= skillet.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> De La Plancha (Griddle)</h2>

<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-6">


<%= image_tag 'griddle.jpg', class: 'img-fluid' %>

</div>
</div>

<div class="container">
  <div class="row">
  <% @griddles.each do |griddle| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= griddle.title %>    $<%= griddle.price %></h4>
          <p class="card-text"><%= griddle.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Tortillas De Huevo </br> (Omelettes)</h2>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6">


<%= image_tag 'omelette.jpg', class: 'img-fluid' %>

</div>
</div>

<div class="container">
  <div class="row">
  <% @omelettes.each do |omelette| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= omelette.title %>    $<%= omelette.price %></h4>
          <p class="card-text"><%= omelette.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Brunch Sides</h2>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">


<%= image_tag 'brunch-side.jpg', class: 'img-fluid' %>

</div>
</div>

<div class="container">
  <div class="row">
  <% @brunch_sides.each do |brunch_side| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= brunch_side.title %>    $<%= brunch_side.price %></h4>
          <p class="card-text"><%= brunch_side.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Bebidas (Drinks)</h2>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">


<%= image_tag 'drink.jpg', class: 'img-fluid' %>

</div>
</div>

<div class="container">
  <div class="row">
  <% @drinks.each do |drink| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= drink.title %>    $<%= drink.price %></h4>
          <p class="card-text"><%= drink.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
