<h1 class="menu-title"> Contact Us</h1>



<div class="row">

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="menu-head">Visit Us!</h4>
          <p class="card-text">507 Broad Street
Chattanooga, TN 37402</p>

<div class="container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13064.127065609191!2d-85.32191899924183!3d35.05594488694202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88605e6253590e9f%3A0x58dc5c4652d15155!2s507+Broad+St%2C+Chattanooga%2C+TN+37402!5e0!3m2!1sen!2sus!4v1509159902317" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="menu-head">Hours</h4>
          <p class="card-title">Mon - Thur</p>
          <p class="card-text">11AM - 10PM</p>
          <p class="card-title">Friday</p>
          <p class="card-text">11AM - 12AM</p>
          <p class="card-title">Saturday</p>
          <p class="card-text">9AM - 12AM</p>
          <p class="card-title">Sunday</p>
          <p class="card-text">9AM - 10PM</p>

        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="menu-head">Call Us!</h4>
          <a class="btn btn-warning btn-xlg" href="tel:423-682-7835" style="padding:15px;">
          Call <span class="glyphicon glyphicon-earphone" style="padding-left:0px; padding-right:0px;"></span>423-682-7835
          </a>
          <p class="menu-head">Join Our Team!</p>
          <%= link_to "Apply Now", apply_path, class: "btn btn-warning" %>


        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="menu-head">Follow Us!</h4>
    <div class="container">
    <a href="https://www.facebook.com/MayanKitchenChatt/" target="_blank">
      <%= image_tag 'facebook.png' %>
    </a>
    <a href="https://www.instagram.com/mayankitchen/" target="_blank">
      <%= image_tag 'insta.png' %>
    </a>
    <a href="https://www.yelp.com/biz/mayan-kitchen-chattanooga-2" target="_blank">
      <%= image_tag 'yelp.png' %>
    </a>
    <a href="https://www.tripadvisor.com/Restaurant_Review-g54946-d13166197-Reviews-Mayan_Kitchen-Chattanooga_Tennessee.html" target="_blank">
      <%= image_tag 'trip.png' %>
    </a>
  </div>
        </div>
      </div>
    </div>

</div>