<h1 class="menu-title">Dinner Menu</h1>

<h2 class="menu-head">Bisteks (Steaks)</h2>

<div class="container">
  <div class="row">
  <% @steaks.each do |steak| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= steak.title %>    $<%= steak.price %></h4>
          <p class="card-text"><%= steak.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Pollo (Chicken)</h2>

<div class="container">
  <div class="row">
  <% @chickens.each do |chicken| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= chicken.title %>    $<%= chicken.price %></h4>
          <p class="card-text"><%= chicken.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Cerdo (Pork)</h2>

<div class="container">
  <div class="row">
  <% @porks.each do |pork| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= pork.title %>    $<%= pork.price %></h4>
          <p class="card-text"><%= pork.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Mariscos (Seafood)</h2>

<div class="container">
  <div class="row">
  <% @seafoods.each do |seafood| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= seafood.title %>    $<%= seafood.price %></h4>
          <p class="card-text"><%= seafood.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Side Dishes</h2>

<div class="container">
  <div class="row">
  <% @sides.each do |side| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= side.title %>    $<%= side.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h1 class="menu-title"> Otras Especilidades </br> (Other Specialties)</h1>

<h2 class="menu-head">Fajitas</h2>

<div class="container">
  <div class="row">
  <% @fajitas.each do |fajita| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= fajita.title %>    $<%= fajita.price %></h4>
          <p class="card-text"><%= fajita.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Chimichangas</h2>

<div class="container">
  <div class="row">
  <% @chimichangas.each do |chimichanga| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= chimichanga.title %>    $<%= chimichanga.price %></h4>
          <p class="card-text"><%= chimichanga.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Tacos</h2>

<div class="container">
  <div class="row">
  <% @tacos.each do |taco| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= taco.title %>    $<%= taco.price %></h4>
          <p class="card-text"><%= taco.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Quesadillas</h2>

<div class="container">
  <div class="row">
  <% @quesadillas.each do |quesadilla| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= quesadilla.title %>    $<%= quesadilla.price %></h4>
          <p class="card-text"><%= quesadilla.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Enchiladas</h2>

<div class="container">
  <div class="row">
  <% @enchiladas.each do |enchilada| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= enchilada.title %>    $<%= enchilada.price %></h4>
          <p class="card-text"><%= enchilada.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Bebidas (Drinks)</h2>

<div class="container">
  <div class="row">
  <% @drinks.each do |drink| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= drink.title %>    $<%= drink.price %></h4>
          <p class="card-text"><%= drink.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
