<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<p id="notice"><%= notice %></p>

<h1 class="menu-title">Dinner Menu</h1>

<h2 class="menu-head">Antojiotos (Appetizers)</h2>
<div class="container">
  <div class="row">
  <% @appetizers.each do |appetizer| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= appetizer.title %>    $<%= appetizer.price %></h4>
          <p class="card-text"><%= appetizer.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Tapas</h2>

<div class="container">
  <div class="row">
  <% @tapas.each do |tapa| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tapa.title %>    $<%= tapa.price %></h4>
          <p class="card-text"><%= tapa.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Sopas (Soups)</h2>

<table class="soup">
      <tr>
      <th class="soup-name"><p class="card-title"></p> </th>
      <th class="cup"><p class="glass">Cup</p></th>
      <th class="bowl"><p class="bottle">Bowl</p></th>
    </tr>
</table>


  <% @soups.each do |soup| %>
  <table class="soup">
    <tr>
      <th class="soup-name"><p class="card-title"><%= soup.title %></p></th>
      <th class="cup"><p class="glass">$<%= soup.price %></p></th>
      <th class="bowl"><p class="bottle">$<%= soup.label %></p></th>
    </tr>
  </table>
  <% end %>


<h2 class="menu-head">Favorite Dips</h2>
<h4 id="nacho">Served with Tri Color Tortilla Chips</h4>

<div class="container">
  <div class="row">
  <% @dips.each do |dip| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= dip.title %>    $<%= dip.price %></h4>
          <p class="card-text"><%= dip.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Nachos</h2>

<div class="container">
  <div class="row">
  <% @nachos.each do |nacho| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= nacho.title %>    $<%= nacho.price %></h4>
          <p class="card-text"><%= nacho.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Ensaladas (Salads)</h2>

<div class="container">
  <div class="row">
  <% @salads.each do |salad| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= salad.title %>    $<%= salad.price %></h4>
          <p class="card-text"><%= salad.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head">Bisteks (Steaks)</h2>

  <% @steaks.each do |steak| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= steak.title %></p></th>
      <th><p class="price">$<%= steak.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= steak.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head">Pollo (Chicken)</h2>

  <% @chickens.each do |chicken| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= chicken.title %></p></th>
      <th><p class="price">$<%= chicken.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= chicken.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head">Cerdo (Pork)</h2>

  <% @porks.each do |pork| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= pork.title %></p></th>
      <th><p class="price">$<%= pork.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= pork.description %></p></th>
    </tr>
  </table>
  <% end %>


<h2 class="menu-head">Mariscos (Seafood)</h2>

  <% @seafoods.each do |seafood| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= seafood.title %></p></th>
      <th><p class="price">$<%= seafood.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= seafood.description %></p></th>
    </tr>
  </table>
  <% end %>


<h2 class="menu-head">Side Dishes</h2>

<div class="container">
  <div class="row">
  <% @sides.each do |side| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= side.title %>    $<%= side.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h1 class="menu-title"> Otras Especilidades </br> (Other Specialties)</h1>

<h2 class="menu-head">Fajitas</h2>

  <% @fajitas.each do |fajita| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= fajita.title %></p></th>
      <th><p class="price">$<%= fajita.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= fajita.description %></p></th>
    </tr>
  </table>
  <% end %>


<h2 class="menu-head">Chimichangas</h2>

  <% @chimichangas.each do |chimichanga| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= chimichanga.title %></p></th>
      <th><p class="price">$<%= chimichanga.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= chimichanga.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head">Tacos</h2>

  <% @tacos.each do |taco| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= taco.title %></p></th>
      <th><p class="price">$<%= taco.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= taco.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head">Quesadillas</h2>

  <% @quesadillas.each do |quesadilla| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= quesadilla.title %></p></th>
      <th><p class="price">$<%= quesadilla.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= quesadilla.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head">Enchiladas</h2>

  <% @enchiladas.each do |enchilada| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= enchilada.title %></p></th>
      <th><p class="price">$<%= enchilada.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= enchilada.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head"> Bebidas (Drinks)</h2>

  <% @drinks.each do |drink| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= drink.title %></p></th>
      <th><p class="price">$<%= drink.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= drink.description %></p></th>
    </tr>
  </table>
  <% end %>
