<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>


<div class="logo">
  <%= image_tag 'mayan-logo1.jpg', height: 500, width: 900 %>
</div>


<div class="carousel">
  <div><%= image_tag 'food01.jpg' %></div>
  <div><%= image_tag 'food02.jpg' %></div>
  <div><%= image_tag 'food03.jpg' %></div>
</div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').slick({
          infinite: true,
          autoplay: true,
          autoplaySpeed: 5000,
          fade: true,
          slidesToShow: 1,
          adaptiveHeight: true
      });
    });
  </script>

<div class="row">
  <div class="column">
<h2 id="address"> 507 Broad Street </br> Chattanooga, TN 37402</h2>

<div id="call">
<a class="btn btn-primary btn-xlg" href="tel:423-682-7835" style="padding:25px;background-color:orangered">
   Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>423-682-7835
</a>
</div>
</div>

<div class="column">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3266.2441047349766!2d-85.31327692147057!3d35.050635672002045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88605e6253590e9f%3A0x58dc5c4652d15155!2s507+Broad+St%2C+Chattanooga%2C+TN+37402!5e0!3m2!1sen!2sus!4v1508457545112" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

<h2 class="menu-title">Hours</h2></br>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Monday - Thursday</h4>
          <p class="card-text">11:00AM - 10:00PM</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Friday</h4>
          <p class="card-text">11:00AM - 12:00AM</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Saturday</h4>
          <p class="card-text">09:00AM - 12:00AM</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Sunday</h4>
          <p class="card-text">09:00AM - 10:00PM</p>
        </div>
      </div>
    </div>
   </div>
 </div>

      <h2 class="menu-title"> Follow Us!</h2>
      <div class="container">
      <div class="social">
    <%= image_tag 'facebook.png' %>
    <%= image_tag 'twitter.png' %>
      </div>
    </div>
  </div>
</div>
</div>

