<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= render 'layouts/header' %>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-4">
  <%= image_tag 'mayan-logo1.jpg', height: 500, width: 900 %>
</div>
</div>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="carousel">
      <div><%= image_tag 'carousel01.jpg', class: 'img-fluid' %></div>
      <div><%= image_tag 'carousel02.jpg', class: 'img-fluid' %></div>
      <div><%= image_tag 'carousel03.jpg', class: 'img-fluid' %></div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.carousel').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 5000,
            fade: true,
            slidesToShow: 1,
            adaptiveHeight: true
        });
      });
    </script>
  </div>
</div>

  <h1 class="menu-title">Check Out Our Menus!</h1>

<div class="container">
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Dinner</h4>
          <p class="card-text">Starts Every Day At 3!</p>
         <div class="container">
         <%= link_to "Dinner", dinner_path, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Lunch</h4>
          <p class="card-text">Monday - Friday 11Am - 3PM!</p>
          <div class="container">
         <%= link_to "Lunch", lunch_path, class: "btn btn-danger" %>
       </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Brunch</h4>
          <p class="card-text">Saturday & Sunday 9AM - 3PM!</p>
         <div class="container">
         <%= link_to "Brunch", brunch_path, class: "btn btn-danger" %>
        </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Dessert</h4>
         <div class="container">
         <%= link_to "Dessert", dessert_path, class: "btn btn-danger" %>
       </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Drinks</h4>
         <div class="container">
         <%= link_to "Drinks", drinks_path, class: "btn btn-danger" %>
       </div>
        </div>
      </div>
    </div>
</div>

<h1 class="menu-title">About Us</h1>

<div class="row">

    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Visit Us!</h4>
          <p class="card-text">507 Broad Street 
Chattanooga, TN 37402</p>

        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Hours</h4>
          <p class="card-title">Mon - Thur</p>
          <p class="card-text">11AM - 10PM</p>
          <p class="card-title">Friday</p>
          <p class="card-text">11AM - 12AM</p>
          <p class="card-title">Saturday</p>
          <p class="card-text">9AM - 12AM</p>
          <p class="card-title">Sunday</p>
          <p class="card-text">9AM - 10PM</p>

        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Contact Us!</h4>
          <a class="btn btn-danger btn-xlg" href="tel:423-682-7835" style="padding:15px;">
          Call <span class="glyphicon glyphicon-earphone" style="padding-left:0px; padding-right:0px;"></span>423-682-7835
          </a>
          <p class="card-title">Join Our Team!</p>
          <%= link_to "Apply Now", apply_path, class: "btn btn-danger" %>


        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Follow Us!</h4>
    <div class="container">
    <%= image_tag 'facebook.png' %>
    <%= image_tag 'twitter.png' %>
  </div>
        </div>
      </div>
    </div>

</div>


