<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>


<div class="logo">
  <%= image_tag 'mayan-logo1.jpg', height: 500, width: 900 %>
</div>


<div class="carousel">
  <div><%= image_tag 'food01.jpg' %></div>
  <div><%= image_tag 'food02.jpg' %></div>
  <div><%= image_tag 'food03.jpg' %></div>
</div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').slick({
          infinite: true,
          autoplay: true,
          autoplaySpeed: 5000,
          fade: true,
          slidesToShow: 1,
          adaptiveHeight: true
      });
    });
  </script>

<div class="container">
<h2> 507 Broad Street </br> Chattanooga, TN 37402</h2>
</div>

<h2 class="menu-title">Hours</h2></br>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Monday - Thursday</h4>
          <p class="card-text">11:00AM - 10:00PM</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Friday</h4>
          <p class="card-text">11:00AM - 12:00AM</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Saturday</h4>
          <p class="card-text">09:00AM - 12:00AM</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">Sunday</h4>
          <p class="card-text">09:00AM - 10:00PM</p>
        </div>
      </div>
    </div>
   </div>
 </div>

      <h2 class="menu-title"> Follow Us!</h2>
      <div class="container">
      <div class="social">
    <%= image_tag 'facebook.png' %>
    <%= image_tag 'twitter.png' %>
      </div>
    </div>
  </div>
</div>
</div>

