
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<%= render 'layouts/header' %>


<h1 class="menu-title">Lunch Specials</h1>
<h2 class="menu-head"> Served Monday - Friday 11AM - 3PM</h2>

<%= image_tag 'lunchs.jpg', class: 'menu-photo' %>

<div class="container">
  <div class="row">
  <% @lunches.each do |lunch| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= lunch.title %>    $<%= lunch.price %></h4>
          <p class="card-text"><%= lunch.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Bebidas (Drinks)</h2>

<%= image_tag 'drink.jpg', class: 'menu-photo' %>

<div class="container">
  <div class="row">
  <% @drinks.each do |drink| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= drink.title %>    $<%= drink.price %></h4>
          <p class="card-text"><%= drink.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
