<h1 class="menu-title">Lunch Specials</h1>
<h2 class="menu-head"> Served Mondy - Friday 11AM - 3PM</h2>

  <% @lunches.each do |lunch| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= lunch.title %></p></th>
      <th><p class="price">$<%= lunch.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= lunch.description %></p></th>
    </tr>
  </table>
  <% end %>

<h2 class="menu-head"> Bebidas (Drinks)</h2>


  <% @drinks.each do |drink| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= drink.title %></p></th>
      <th><p class="price">$<%= drink.price %></p></th>
    </tr>
    <tr>
      <th ><p class="description"><%= drink.description %></p></th>
    </tr>
  </table>
  <% end %>
