<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/header' %>
</head>


  <h1 class="menu-title"> Menus</h1>

<div class="row">
<div class="container">
  <div class="row">
  <div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'steak.jpg', class: 'menu-group' %>
</div>
<div class="row">
  <div class="col-sm-5"></div>
      <div class="card-block-menu">
      <%= link_to "Dinner", dinner_path, class: "btn btn-danger" %>
  </div>
</div>
</div>



<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'lunch.jpg', class: 'menu-group' %>

</div>

<div class="row">
  <div class="col-sm-5"></div>

      <div class="card-block-menu">
      <%= link_to "Lunch", lunch_path, class: "btn btn-danger" %>
    </div>
 

</div>
</div>
</div>

<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'apps.jpg', class: 'menu-group' %>

</div>

<div class="row">
  <div class="col-sm-5"></div>

      <div class="card-block-menu">
      <%= link_to "Brunch", brunch_path, class: "btn btn-danger" %>
    </div>
</div>

</div>

<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'desserts.jpg', class: 'menu-group' %>
</div>

<div class="row">
  <div class="col-sm-5"></div>

      <div class="card-block-menu">
      <%= link_to "Dessert", dessert_path, class: "btn btn-danger" %>
  </div>
</div>

</div>

<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'apps.jpg', class: 'menu-group' %>
      <div class="card-block-menu">
      <%= link_to "Apps & Snacks", apps_path, class: "btn btn-danger" %>
  </div>
</div>
</div>

<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'tequila.jpg', class: 'menu-group' %>
      <div class="card-block-menu">
      <%= link_to "Tequila Bar", drinks_path, class: "btn btn-danger" %>
  </div>
</div>
</div>
</div>
</div>
</div>