  <h1 class="menu-title"> Menus</h1>

<div class="row">
<div class="container">
  <div class="row">
  <div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'food01.jpg' %>
      <div class="card-block">
      <%= link_to "Dinner", dinner_path, class: "btn btn-danger" %>
  </div>
</div>

</div>



<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'food02.jpg' %>
      <div class="card-block">
      <%= link_to "Lunch", lunch_path, class: "btn btn-danger" %>
              <p class="card-text">Mon-Fri 11AM-3PM</p>

  </div>
</div>

</div>

<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'food03.jpg' %>
      <div class="card-block">
      <%= link_to "Brunch", brunch_path, class: "btn btn-danger" %>
              <p class="card-text">Sat & Sun 9AM-3PM</p>

  </div>
</div>
</div>

<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'food04.jpg' %>
      <div class="card-block">
      <%= link_to "Dessert", dessert_path, class: "btn btn-danger" %>
  </div>
</div>
</div>

<div class="col-md-6 col-lg-4">

    <div class="card text-center">
    <%= image_tag 'food02.jpg' %>
      <div class="card-block">
      <%= link_to "Drinks", drinks_path, class: "btn btn-danger" %>
  </div>
</div>
</div>
