<div class="container">
  <h1> Menu</h1>
</div>

<div class="container">
  <div class="row">
  <div class="col-md-6 col-lg-3">

    <div class="card text-center">
    <%= image_tag 'food01' %>
      <div class="card-block">
      <%= link_to "Dinner", dinners_path, class: "btn btn-outline-success" %>
  </div>
</div>

</div>



<div class="col-md-6 col-lg-3">

    <div class="card text-center" style="width: 20rem;">
    <%= image_tag 'food02' %>
      <div class="card-block">
      <%= link_to "Lunch", lunches_path, class: "btn btn-outline-success" %>
  </div>
</div>

</div>

<div class="col-md-6 col-lg-3">

    <div class="card text-center" style="width: 20rem;">
    <%= image_tag 'food03' %>
      <div class="card-block">
      <%= link_to "Brunch", brunches_path, class: "btn btn-outline-success" %>
  </div>
</div>
</div>

<div class="col-md-6 col-lg-3">

    <div class="card text-center" style="width: 20rem;">
    <%= image_tag 'food04' %>
      <div class="card-block">
      <%= link_to "Dessert", desserts_path, class: "btn btn-outline-success" %>
  </div>
</div>
</div>
</div>
</div>
</div>