<div class="container">
  <h1> Menu</h1>
</div>

<div class="container">
  <div class="row">
  <div class="col-md-6 col-lg-3">

    <div class="card text-center">
    <%= image_tag 'food01.jpg' %>
      <div class="card-block">
      <%= link_to "Dinner", main_dinner_path, class: "btn btn-outline-success" %>
  </div>
</div>

</div>



<div class="col-md-6 col-lg-3">

    <div class="card text-center" style="width: 20rem;">
    <%= image_tag 'food02.jpg' %>
      <div class="card-block">
      <%= link_to "Lunch", main_lunch_path, class: "btn btn-outline-success" %>
  </div>
</div>

</div>

<div class="col-md-6 col-lg-3">

    <div class="card text-center" style="width: 20rem;">
    <%= image_tag 'food03.jpg' %>
      <div class="card-block">
      <%= link_to "Brunch", main_brunch_path, class: "btn btn-outline-success" %>
  </div>
</div>
</div>

<div class="col-md-6 col-lg-3">

    <div class="card text-center" style="width: 20rem;">
    <%= image_tag 'food04.jpg' %>
      <div class="card-block">
      <%= link_to "Dessert", main_dessert_path, class: "btn btn-outline-success" %>
  </div>
</div>
</div>
</div>
</div>
</div>