<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<h1 class="menu-title">Tequilas</h1>

  <div class="text-center">


<%= image_tag 'tequila.jpg', class: 'img-fluid' %>

</div>

<h2 class="menu-head">Blanco (White)</h2>

<div class="container">
	<div class="row">
  <% @tequila_ws.each do |tequila_w| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tequila_w.title %>  $<%= tequila_w.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Reposado (Rested)</h2>

<div class="container">
	<div class="row">
  <% @tequila_rs.each do |tequila_r| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tequila_r.title %>  $<%= tequila_r.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Anejo (Aged)</h2>

<div class="container">
	<div class="row">
  <% @tequila_as.each do |tequila_a| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tequila_a.title %>  $<%= tequila_a.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Mezcal</h2>

<div class="container">
	<div class="row">
  <% @tequila_ms.each do |tequila_m| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tequila_m.title %>  $<%= tequila_m.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Premium</h2>

<div class="container">
	<div class="row">
  <% @tequila_ps.each do |tequila_p| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tequila_p.title %>  $<%= tequila_p.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Ultra Premium</h2>

<div class="container">
	<div class="row">
  <% @tequila_us.each do |tequila_u| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tequila_u.title %>  $<%= tequila_u.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Tequila Flights</h2>

<div class="container">
  <div class="row">
  <% @tequila_fs.each do |tequila_f| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= tequila_f.title %>    $<%= tequila_f.price %></h4>
          <p class="card-text"><%= tequila_f.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h1 class="menu-title">Spirits</h1>

  <div class="text-center">


<%= image_tag 'spirit.jpg', class: 'img-fluid' %>

</div>

<h2 class="menu-head">Vodka</h2>

  <div class="text-center">


<%= image_tag 'vodka.jpg', class: 'img-fluid' %>

</div>

<div class="container">
	<div class="row">
  <% @vodkas.each do |vodka| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= vodka.title %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Rum</h2>

  <div class="text-center">


<%= image_tag 'rum.jpg', class: 'img-fluid' %>

</div>

<div class="container">
	<div class="row">
  <% @rums.each do |rum| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= rum.title %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Gin</h2>

  <div class="text-center">

<%= image_tag 'gin.jpg', class: 'img-fluid' %>

</div>

<div class="container">
	<div class="row">
  <% @gins.each do |gin| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= gin.title %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head"> Bourbon / Whiskey</h2>

  <div class="text-center">


<%= image_tag 'whiskey.jpg', class: 'img-fluid' %>

</div>

<div class="container">
	<div class="row">
  <% @bourbons.each do |bourbon| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= bourbon.title %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Scotch</h2>

  <div class="text-center">

<%= image_tag 'scotch.jpg', class: 'img-fluid' %>

</div>

<div class="container">
	<div class="row">
  <% @scotchs.each do |scotch| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= scotch.title %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h2 class="menu-head">Liqueurs & Cordials</h2>


<div class="container">
	<div class="row">
  <% @liqueurs.each do |liqueur| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= liqueur.title %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>


<h1 class="menu-title"> Beer</h1>

  <div class="text-center">


<%= image_tag 'beer.jpg', class: 'img-fluid' %>

</div>

<div class="row">
  <div class="col-sm-6">
<h2 class= "menu-head">Draft Domestic </br> 18 oz $4.00</h2>

  <% @draft_ds.each do |draft_d| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= draft_d.title %></p></th>
    </tr>
  </table>
  <% end %>
</div>

<div class="col-sm-6">
<h2 class="menu-head"> Draft Imports </br> 18oz. $4.50</h2>

  <% @draft_is.each do |draft_i| %>

  <table class="menu">
    <tr>
      <th><p class="card-title"><%= draft_i.title %></p></th>
    </tr>
  </table>
  <% end %>
</div>
</div>

<div class="row">
  <div class="col-sm-6">
<h2 class= "menu-head">Bottle Domestic </br> $4.50</h2>

  <% @bottle_ds.each do |bottle_d| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= bottle_d.title %></p></th>
    </tr>
  </table>
  <% end %>
</div>

<div class="col-sm-6">
<h2 class="menu-head"> Bottle Imports </br> $5.00</h2>

  <% @bottle_is.each do |bottle_i| %>
  <table class="menu">
    <tr>
      <th><p class="card-title"><%= bottle_i.title %></p></th>
    </tr>
  </table>
  <% end %>
</div>
</div>

<h1 class= "menu-head"> MICHELADA</h1>

  <div class="text-center">

<%= image_tag 'michelada.jpg', class: 'menu-photo' %>

</div>

  <p class="michelada"> Made With Sangarita Lime Juice Hot Sauce and Your Favorite Beer</P>

<h2 class="menu-title"> Wine</h2>

  <div class="text-center">


<%= image_tag 'wine.jpg', class: 'img-fluid' %>

</div>

<div class="row">
  <div class="col-sm-6">
<h2 class= "menu-head">White</h2>


<table class="menu">
	    <tr>
    	<th class="wine"><p class="card-title"></p> </th>
    	<th class="glass"><p class="glass">Glass</p></th>
    	<th class="bottle"><p class="bottle">Bottle</p></th>
    </tr>
</table>

  <% @wine_ws.each do |wine_w| %>

  <table class="menu">
    <tr>
      <th class="wine"><p class="card-title"><%= wine_w.title %></p></th>
      <th class="glass"><p class="glass">$<%= wine_w.price %></p></th>
      <th class="bottle"><p class="bottle">$<%= wine_w.label %></p></th>
    </tr>
  </table>
  <% end %>
</div>

<div class="col-sm-6">
<h2 class="menu-head"> Red</h2>

<table class="menu">
	    <tr>
    	<th class="wine"><p class="card-title"></p> </th>
    	<th> </th>
    	<th class="glass"><p class="glass">Glass</p></th>
    	<th class="bottle"><p class="bottle">Bottle</p></th>
    </tr>
</table>


  <% @wine_rs.each do |wine_r| %>

  <table class="menu">
    <tr>
      <th class="wine"><p class="card-title"><%= wine_r.title %></p></th>
      <th class="glass"><p class="glass">$<%= wine_r.price %></p></th>
      <th class="bottle"><p class="bottle">$<%= wine_r.label %></p></th>
    </tr>
  </table>
  <% end %>
</div>
</div>

<h2 class="menu-title"> Sangria</h2>


<div class="row">
  <div class="col-sm-6">
<h2 class= "menu-head">White</h2>

<div class="container">
  <% @sangria_ws.each do |sangria_w| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= sangria_w.title %>    $<%= sangria_w.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<div class="col-sm-6">
<h2 class="menu-head"> Red</h2>

<div class="container">
  <% @sangria_rs.each do |sangria_r| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= sangria_r.title %>    $<%= sangria_r.price %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>

<h2 class="menu-title">House Margaritas</h2>


<div class="container">
	<div class="row">
  <% @margaritas.each do |margarita| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title">
          	<%= margarita.title %>
          	    $<%= margarita.price %>
          </h4>

        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<h2 class="menu-head"> Bebidas (Drinks)</h2>

  <div class="text-center">


<%= image_tag 'drink.jpg', class: 'img-fluid' %>

</div>

<div class="container">
  <div class="row">
  <% @drinks.each do |drink| %>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-center">
        <div class="card block">
          <h4 class="card-title"><%= drink.title %>    $<%= drink.price %></h4>
          <p class="card-text"><%= drink.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
