<p id="notice"><%= notice %></p>

<h1>Appetizers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appetizers.each do |appetizer| %>
      <tr>
        <td><%= appetizer.title %></td>
        <td><%= appetizer.description %></td>
        <td><%= appetizer.price %></td>
        <td><%= link_to 'Show', appetizer %></td>
        <td><%= link_to 'Edit', edit_appetizer_path(appetizer) %></td>
        <td><%= link_to 'Destroy', appetizer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appetizer', new_appetizer_path %>
