<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @enchilada.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @enchilada.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @enchilada.price %>
</p>

<%= link_to 'Edit', edit_enchilada_path(@enchilada) %> |
<%= link_to 'Back', enchiladas_index_path %>
