<%= form_with(model: brunch, local: true) do |form| %>
  <% if brunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brunch.errors.count, "error") %> prohibited this brunch from being saved:</h2>

      <ul>
      <% brunch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :brunch_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :brunch_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :brunch_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
