<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @brunch.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brunch.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @brunch.price %>
</p>

<%= link_to 'Edit', edit_brunch_path(@brunch) %> |
<%= link_to 'Back', brunches_path %>
