<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chicken.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chicken.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @chicken.price %>
</p>

<%= link_to 'Edit', edit_chicken_path(@chicken) %> |
<%= link_to 'Back', chickens_path %>
