<p id="notice"><%= notice %></p>

<h1>Soups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soups.each do |soup| %>
      <tr>
        <td><%= soup.title %></td>
        <td><%= soup.description %></td>
        <td><%= soup.price %></td>
        <td><%= link_to 'Show', soup %></td>
        <td><%= link_to 'Edit', edit_soup_path(soup) %></td>
        <td><%= link_to 'Destroy', soup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soup', new_soup_path %>
