

<div class="container">
<%= simple_form_for @menu_item do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :type, :collection => ['Appetizer', 'BrunchSide', 'Chicken','Chimichanga', 'Dessert', 'Dip', 'Drink', 'Egg', 'Enchilada', 'Fajita', 'Griddle', 'Lunch', 'Nacho', 'Omelette', 'Pork', 'Quesadilla', 'Salad', 'Seafood', 'Side', 'Skillet', 'Soup', 'Steak', 'Taco', 'Tapa']  %>
  <%= f.input :label %>
  <%= f.button :submit %>
<% end %>
</div>

