

<div class="container">
<%= simple_form_for @menu_item.becomes(MenuItem) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :type, :collection => ['Appetizer', 'BottleD', 'BottleI', 'Bourbon', 'BrunchSide', 'Chicken','Chimichanga', 'Dessert', 'Dip', 'DraftD', 'DraftI', 'Drink', 'Egg', 'Enchilada', 'Fajita', 'Gin', 'Griddle', 'Liqueur', 'Lunch', 'Margarita', 'Nacho', 'Omelette', 'Pork', 'Quesadilla', 'Rum', 'Salad', 'SangriaR', 'SangriaW', 'Scotch', 'Seafood', 'Side', 'Skillet', 'Soup', 'Steak', 'Taco', 'Tapa', 'TequilaA', 'TequilaF', 'TequilaM', 'TequilaP', 'TequilaR', 'TequilaU', 'TequilaW', 'Vodka', 'WineR', 'WineW']  %>
  <%= f.input :label %>
  <%= f.button :submit %>
<% end %>
</div>
