<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @menu_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu_item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu_item.price %>
</p>

<p>
  <strong>Menu type:</strong>
  <%= @menu_item.menu_type %>
</p>

<p>
  <strong>Food type:</strong>
  <%= @menu_item.food_type %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
