<%= form_with(model: seafood, local: true) do |form| %>
  <% if seafood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seafood.errors.count, "error") %> prohibited this seafood from being saved:</h2>

      <ul>
      <% seafood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :seafood_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :seafood_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :seafood_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
