<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @seafood.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @seafood.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @seafood.price %>
</p>

<%= link_to 'Edit', edit_seafood_path(@seafood) %> |
<%= link_to 'Back', seafoods_path %>
