<%= form_with(model: taco, local: true) do |form| %>
  <% if taco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taco.errors.count, "error") %> prohibited this taco from being saved:</h2>

      <ul>
      <% taco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :taco_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :taco_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :taco_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
