<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @taco.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @taco.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @taco.price %>
</p>

<%= link_to 'Edit', edit_taco_path(@taco) %> |
<%= link_to 'Back', tacos_path %>
