<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fajita.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fajita.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fajita.price %>
</p>

<%= link_to 'Edit', edit_fajita_path(@fajita) %> |
<%= link_to 'Back', fajitas_index_path %>
