<%= form_with(model: steak, local: true) do |form| %>
  <% if steak.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(steak.errors.count, "error") %> prohibited this steak from being saved:</h2>

      <ul>
      <% steak.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :steak_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :steak_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :steak_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
