<p id="notice"><%= notice %></p>

<h1>Steaks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steaks.each do |steak| %>
      <tr>
        <td><%= steak.title %></td>
        <td><%= steak.description %></td>
        <td><%= steak.price %></td>
        <td><%= link_to 'Show', steak %></td>
        <td><%= link_to 'Edit', edit_steak_path(steak) %></td>
        <td><%= link_to 'Destroy', steak, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Steak', new_steak_path %>
