<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @steak.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @steak.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @steak.price %>
</p>

<%= link_to 'Edit', edit_steak_path(@steak) %> |
<%= link_to 'Back', steaks_path %>
