<%= form_with(model: dessert, local: true) do |form| %>
  <% if dessert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dessert.errors.count, "error") %> prohibited this dessert from being saved:</h2>

      <ul>
      <% dessert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :dessert_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :dessert_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :dessert_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
