<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dessert.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dessert.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dessert.price %>
</p>

<%= link_to 'Edit', edit_dessert_path(@dessert) %> |
<%= link_to 'Back', desserts_path %>
