<%= form_with(model: chimichanga, local: true) do |form| %>
  <% if chimichanga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chimichanga.errors.count, "error") %> prohibited this chimichanga from being saved:</h2>

      <ul>
      <% chimichanga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :chimichanga_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :chimichanga_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :chimichanga_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
