<%= form_with(model: salad, local: true) do |form| %>
  <% if salad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salad.errors.count, "error") %> prohibited this salad from being saved:</h2>

      <ul>
      <% salad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :salad_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :salad_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :salad_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
