<p id="notice"><%= notice %></p>

<h1>Salads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salads.each do |salad| %>
      <tr>
        <td><%= salad.title %></td>
        <td><%= salad.description %></td>
        <td><%= salad.price %></td>
        <td><%= link_to 'Show', salad %></td>
        <td><%= link_to 'Edit', edit_salad_path(salad) %></td>
        <td><%= link_to 'Destroy', salad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salad', new_salad_path %>
