<p id="notice"><%= notice %></p>

<h1>Dips</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dips.each do |dip| %>
      <tr>
        <td><%= dip.title %></td>
        <td><%= dip.description %></td>
        <td><%= dip.price %></td>
        <td><%= link_to 'Show', dip %></td>
        <td><%= link_to 'Edit', edit_dip_path(dip) %></td>
        <td><%= link_to 'Destroy', dip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dip', new_dip_path %>
