<p id="notice"><%= notice %></p>

<h1>Quesadillas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quesadillas.each do |quesadilla| %>
      <tr>
        <td><%= quesadilla.title %></td>
        <td><%= quesadilla.description %></td>
        <td><%= quesadilla.price %></td>
        <td><%= link_to 'Show', quesadilla %></td>
        <td><%= link_to 'Edit', edit_quesadilla_path(quesadilla) %></td>
        <td><%= link_to 'Destroy', quesadilla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quesadilla', new_quesadilla_path %>
