<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quesadilla.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quesadilla.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quesadilla.price %>
</p>

<%= link_to 'Edit', edit_quesadilla_path(@quesadilla) %> |
<%= link_to 'Back', quesadillas_index_path %>
