<p id="notice"><%= notice %></p>

<h1>Dinner Menu</h1>

<%= render "/appetizers/index", :appetizers => @appetizers %>

<%= render "/tapas/index", :tapas => @tapas %>

<%= render "/soups/index", :soups => @soups %>

<%= render "/dips/index", :dips => @dips %>

<%= render "/nachos/index", :nachos => @nachos %>

<%= render "/salads/index", :salads => @salads %>

<%= render "/steaks/index", :steaks => @steaks %>

<%= render "/chickens/index", :chickens => @chickens %>

<%= render "/porks/index", :porks => @porks %>

<%= render "/seafoods/index", :seafoods => @seafoods %>

<%= render "/sides/index", :sides => @sides %>