<h4 id="nav-address">507 Broad Street | Chattanooga, TN 37402  | Phone: (423)-682-7835 Fax: (423)-682-7836 </h4>

<div class="mayan-head">
<nav class="navbar navbar-expand-sm navbar-dark" style="background: none; color: white;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<!-- Brand -->

<!-- Links -->
<div class="collapse navbar-collapse" id="nav-content">   
  <ul class="navbar-nav mx-auto justify-content-center">

    <li class="nav-item">
    	<%= link_to "Home", root_path, class: "btn btn-primary" %>

    </li>

    <li>
    	<!-- Example split danger button -->
<div class="btn-group">
  <%= link_to "Menu", menu_path, class: "btn btn-primary" %>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <%= link_to "Dinner", dinner_path, class: "dropdown-item"%>
    <%= link_to "Lunch", lunch_path, class: "dropdown-item"%>
    <%= link_to "Brunch", brunch_path, class: "dropdown-item"%>
    <%= link_to "Dessert", dessert_path, class: "dropdown-item" %>
    <%= link_to "Apps & Snacks", apps_path, class: "dropdown-item" %>

    <%= link_to "Tequilla Bar", drinks_path, class: "dropdown-item" %>

</div>
</li>

    <li class="nav-item">
    	<%= link_to "Apply", apply_path , class: "btn btn-primary" %>

    </li>

    <li class="nav-item">
      <%= link_to "Contact", contact_path , class: "btn btn-primary" %>

    </li>




</ul>

</nav>
</div>
</div>
</div>