<!DOCTYPE html>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<html>
<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
  <head>
<%= render 'layouts/header' %>

    <%= favicon_link_tag 'monkey.png' %>

    <%= csrf_meta_tags %>
      <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

  <%= display_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>
<footer>
  <% unless action_name == "contact" %>
<%= render 'layouts/footer' %>
<% end %>
</footer>
</html>
