<!DOCTYPE html>
<html>

  <head>

    <%= favicon_link_tag 'monkey.png' %>

    <%= csrf_meta_tags %>
      <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

  <%= display_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>
<footer>
<%= render 'layouts/footer' %>
</footer>
</html>
