<!DOCTYPE html>
<html>

  <head>
    <%= csrf_meta_tags %>
      <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

  <%= display_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>

</html>
